body {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}
.container-fluid{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;
}
/* ============= Animation background ========= */
.background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-image: url(image/10.jpg);
 background-color:#464646;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #D7D4E4;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
/* ================= Header ============ */
header{
  position: absolute;
  top:0%;
  left: 0%;
  width:100%;
  margin: 0;
  padding: 0;
}
/* navbar */
nav{
  color: #FFF;
  float: right;
  margin:30px 90px;
}
nav ul{
  list-style: none;
}
nav ul li {
  float: left;
  transition: .3s;
}
nav ul li a{
  text-decoration: none;
  color: #EFEEF5;
  transition: .5;
  font-size: 15px;
  margin-left:16px;
}
nav ul li:hover a{
  text-decoration: none;
  color: #ffffff;;
}
nav ul li:hover{
  height: 45px;
  padding-top: 30px;
  margin-top: -30px;
 background: #000000;
  text-decoration: none;
  transform: skew(15deg);
}

/* g-container */

.g-container{
  color: #ffffff;
  font-size: 2em;
  line-height: 1.4;
  padding-left: 0px;
  font-weight: bold;
  margin: 40px 63px;
  float: left;
}

*{
  padding:0;margin:0;
}
li{
  list-style:none;
}

body, html {
  width: 100%;
  height: 100%;
  display: flex;
}

:root {
  --s: 6;
  --h: 36;
  --speed: 1s;
}

.g-container {
  width: 50px;
  /*margin: auto;*/
  margin-top: auto;
  height: 36px;/*calc(var(--h) * 1px);*/
  line-height: calc(var(--h) * 1px);
  font-size: 30px;
  background: #000000;
  color: #ffffff;
  overflow: hidden;
  padding-top: 6px;
  position: absolute;
}

.g-container ul {
 /* margin: 0%;
  padding: 0%;  */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  /*vertical-align: bottom;*/
}

.g-container ul li {
  flex-shrink: 0;
  width: 100%;
 /* padding-left: 10px;*/
 /*padding-top: 4%;*/
 text-align: center;
  box-sizing: border-box;
}

.g-container ul {
  animation: move calc(var(--speed) * var(--s)) steps(var(--s)) infinite;
}

.g-container ul li {
  white-space: nowrap;
  cursor: pointer;
  animation: liMove calc(var(--speed)) infinite;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, calc(var(--s) * var(--h) * -1px));
  }
}

@keyframes liMove {
  0% {
    transform: translate(0, 0);
  }
  50%,
  100%  {
    transform: translate(0, calc(var(--h) * -1px));
  }
}

/* Header content & title & button*/

.fig{
  margin:20px 10px;
  font-weight: 500;
  position: relative;
}

.header-content{
  margin-top:12%;
  text-align: center;
  color:  #EFEEF5;
}
.header-content h1{
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 1px;
  margin-bottom: 1px;
}
.header-content h4{
  font-size: 17px;
  line-height: 1.5;
  margin: 1px auto;
  opacity: 0.8;
}
.header-content span {
  font-size: 23px;
  line-height: 1.5;
  margin: 10px auto;
  text-decoration: underline #ffffff; 
}
.header-content p {
  font-size: 23px;
  line-height: 1.5;
  margin: 10px auto;
}
.header-content button{
  width: 140px;
  margin:5px 10px;
  color: #ffffff;
  font-size: 17px;
  border:1px solid #EFEEF5;
  font-weight: 500;
  background: #000000;
  border-radius: 20px;
  padding: 10px;
  cursor:pointer;
  transition: .3s;
}

.header-content button:hover{
  border-radius: 0;
}

/* */

/* */
.media {
  text-align: center;
}

.media button{
  width: 30px;
  height: 30px;
  margin:2px 10px;
  color: #ffffff;
  font-size: 17px;
  border:1px solid #EFEEF5;
  font-weight: 500;
  background-size: cover;
  border-radius: 30px;
  padding: 20px;
  cursor:pointer;
  transition: .3s;
}

.ln {
  background-image: url(image/in.jpg);
}

.tm {
  background-image: url(image/tg.jpg);
}

.gt {
  background-image: url(image/gh.jpg);
}

.fb {
  background-image: url(image/face.jpg);
}

.media button:hover{
  border-radius: 0;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    background-image: url(image/background_mobile.jpg);
  }
	}

/* Animate Background*/

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

